{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>On Sale</title>
{% endblock %}

{% block extra_css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Houses</h1>
    <p class="mb-4">Houses on sale</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Feel free</h6>
            {#                            video 6 - 7:39#}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Developer</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Price</th>
                        <th>Purchase</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Developer</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Price</th>
                        <th>Purchase</th>
                    </tr>
                    </tfoot>
                    
                    <tbody>
                    {% for house in houses %}
                    	<tr>
                            <td>{{ house.name }}</td>
                            <td>{{ house.developer }}</td>
                            <td>{{ house.address }}</td>
                            <td>{{ house.city }}</td>
                            <td>{{ house.state }}</td>
                            <td>{{ house.price }}</td>
                            <td>
                                <a href="{% url 'purchase' house.id %}" class="btn btn-outline-dark btn-sm">Purchase</a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}